[Desktop Entry]
Name=Rayboard
Comment=Native Linux Soundboard
Exec=/usr/bin/python3 /home/%u/.local/bin/rayboard.py
Icon=%h/.local/share/icons/rayboard.png
Terminal=false
Type=Application
Categories=Audio;Utility;
Keywords=soundboard;sounds;audio;hotkeys;
